<!DOCTYPE html>
<html>
<head>
  <title> My Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<<<<<<< HEAD
<p> Commit for the day </p>
=======
<p> Another commit! </p>
<!--comment-->
>>>>>>> 3e34a19f32c7b83eb8f72a41942d918bfec59fc3

</body>
</html>
